@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
header{
    display: flex;
    justify-content: center;
    background-color: rgba(51,51,51,255);
}
header,img{
    width: auto;
    height: 50px; 
}
nav{
    background-color: rgba(51,51,51,255);
    justify-content: flex-start;
}

nav ul{
    display: flex;
    list-style: none;
    gap:10px;
    
}
nav ul a{
    text-decoration: none;
    
    color: white;
}
section{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center; 
    background-image:url(../img/file.png);
    background-repeat: no-repeat;
    background-position: center;
    
}

.contenido{
    margin: 20px;
    text-align: center;
}
